@media (min-width:1024px){
    section{
        .ourstory{
            .titre{
                .triangle1{
                    img{
                        margin-left: -11%;
                    }
                }
                .titrelogo{
                }
                .triangle2{
                    img{
                        margin-left: 11%;
                    }
                }
            }
            .menu{
                .boxmenu{
                    button{
                        height: 100px;
                        width: 150%;
                        i{
                            color: gray;
                            font-size: 300%;
                        }
                        h3{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .chefs{
            height: 600px;
            background-color: #060404;
            .meetchef{
                margin-top: 5%;
            }
            .pchef{
                background-color: #060404;
            }
            .imgchef{
                margin-top: 5%;
                div{
                    margin: 2%;
                    img{
                        border-bottom: 1px solid gray;
                    }
                }
            }
        }
    }
}
@media (min-width:830px) and (max-width:1200px){
    .chefs{
        background-color: #060404;
        .imgchef{
            flex-wrap: wrap;
        }
    }
}
@media (min-width:426px) and (max-width:829px){
    .chefs{
        background-color: #060404;
        .imgchef{
            flex-wrap: wrap;
        }
    }
}
@media (max-width:426px){
    .ourstory{
        width: 458px !important;
        .titre{
            .triangle1{
                img{
                    display: none;
                }
            }
            .triangle2{
                img{
                    display: none;
                }
            }
        }
    }
    .chefs{
        width: 458px !important;
        background-size: contain;
        background-color: #060404;
        .imgchef{
            flex-wrap: wrap;
        }
    }
}

@media (min-width:425px) and (max-width:768px){
    .ourstory{
        .titre{
            .triangle1{
                img{
                    display: none;
                }
            }
            .triangle2{
                img{
                    display: none;
                }
            }
        }
    }
}
@media (min-width:320px) and (max-width:462px){
    .ourstory{
        width: 100% !important;
    }
}
@media (min-width:1023px) and (max-width:1135px){
    .imgchef{
        display: flex;
        margin-top: 10% !important;
        flex-wrap: nowrap !important;
        div{
            img{
                width: 80%;
            }
        }
    }
}